<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body ng-app="tutorialWebApp">

  <% include ../partials/nav.ejs %>
 
 <div class="section" id="header">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">The Economist</div>
        </div>    
    </div>
</div>
<div class="section-colored text-center">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Economia: Bolsas e Ações, Índices e Mercado</h2>
                <p>Indicadores e notícias sobre a economia no Brasil e no mundo. Dados para posicionamento de empresários e dicas para gerir suas finanças pessoais.</p>
                <hr>
            </div>
        </div>     
    </div>
</div>
<div class="section-colored">

    <div class="container">
        <div class="row">    
        <div class="col-lg-6 col-md-6 col-sm-6">
        <button type="button" class="btn btn-primary btn-md"  ng-repeat="currencie in currenciesArray" ng-click="changeInput(currencie)" style="1%">{{currencie}}</button>
        </div>
        </div>
        <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Selecione uma Cotação de moeda </h2>               
                <p>                 
                <label ng-model="currenciesChoose.tes">Moeda escolhida : {{currenciesChoose.tes}}</label>
                  
                </p>              
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">        
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Cotação de hoje do dolar para :</h2>
                <ul>
                    <li>Cotação do Dolar para o Euro</li>
                    <li>Cotação do Dolar para o Real</li>
                    <li>Cotação do Dolar para o Peso Argentino</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div id="containerDay" style="min-width: 310px; height: 400px; margin: 0 auto"></div>              
            </div>
        </div>
    </div>
</div>
</body>
</html>
